*.aux
*.backup
*.bak
*.core
*.dSYM
*.dvi
*.gcda
*.img
*.icloud
*.log
*.noopt
*.o
*.optimized
*.swp
*.unsafe
*~
.DS_Store
.cproject
.deps
.gitcheckout
.goutputstream-*
.project
.vscode
a.out
config.mk
core*
debuglog.txt
log.txt
obj
pset.tgz
pset[1-9].tgz
pset[1-9]grade.tgz
strace.out
tags
tags.*
typescript
vgcore*
