#*#
*.aux
*.backup
*.core
*.dSYM
*.dvi
*.gcda
*.img
*.log
*.noopt
*.o
*.optimized
*.unsafe
*~
.DS_Store
.cproject
.deps
.gitcheckout
.goutputstream-*
.project
a.out
core*
debuglog.txt
log.txt
obj
pset.tgz
pset[1-9].tgz
pset[1-9]grade.tgz
strace.out
tags
tags.*
typescript
vgcore*
